<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Article edit</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container py-3">
    <header th:insert="blocks/header.html::header"></header>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div th:insert="blocks/sidebarMenu::sidebarMenu"></div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                <h1>Article edit</h1>
                <div class="container mt-5 mb-5" th:each="el:${post}">
                    <form method="post">
                        <input type="text" th:value="${el.title}" name="title" placeholder="Enter title" class="form-control"><br>
                        <input type="text" th:value="${el.anons}" name="anons" placeholder="Enter anons" class="form-control"><br>
                        <textarea name="fulltext" th:text="${el.full_text}" placeholder="Enter text" class="form-control"/><br>
                        <button type="submit" class="btn btn-success">Submit</button>

                    </form>
                </div>
            </main>
        </div>
    </div>
    <div th:insert="blocks/footer.html::footer"></div>
</div>

</body>
</html>